<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hap.checkinproc">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SFA_Activity.HAPApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="n">
        <activity android:name=".Activity_Hap.CateenToken"></activity>
        <activity android:name=".Common_Class.ToolBarMethod" />
        <activity android:name=".Activity_Hap.foodExp" />
        <activity android:name=".Activity_Hap.PayslipFtp" />
        <activity android:name=".Activity_Hap.Leave_Cancel_Approval" />
        <activity android:name=".Activity_Hap.Leave_Cancel_Approval_Reject" />
        <activity android:name=".Activity_Hap.Deviation_Entry_Approval" />
        <activity android:name=".Activity_Hap.Deviation_Approval_Reject" />
        <activity android:name=".Activity_Hap.Holiday_Entry_Approval" />
        <activity android:name=".Activity_Hap.Holiday_Approval_Reject" />
        <activity android:name=".Activity_Hap.DaExceptionEntry" />
        <activity android:name=".Activity.LodgingCliamActivity" />
        <activity
            android:name=".Activity.PDFActivity"
            android:theme="@style/AppTheme.Dialogs" />
        <activity android:name=".Activity.PdfViewerActivity" />
        <activity android:name=".Activity.FuelAllowance" />
        <activity android:name=".Activity.TL_cliam_Apprval" />
        <activity android:name=".Activity.OEClaimActivity" />
        <activity android:name=".Activity.LocalConvenActivity" />
        <activity android:name=".Activity.DAClaimActivity" />
        <activity android:name=".SFA_Activity.Outet_Report_Details" />
        <activity android:name=".SFA_Activity.Outlet_Report_View" />
        <activity android:name=".SFA_Activity.Reports_Outler_Name" />
        <activity android:name=".SFA_Activity.Order_Category_Select" />
        <activity android:name=".SFA_Activity.Invoice_History" />
        <activity android:name=".SFA_Activity.More_Info_Activity" />
        <activity android:name=".SFA_Activity.Dist_Locations" />
        <activity android:name=".SFA_Activity.Route_Product_Info" />
        <activity android:name=".SFA_Activity.Outlet_Info_Activity" />
        <activity android:name=".SFA_Activity.Dashboard_Route" />
        <activity android:name=".SFA_Activity.Dashboard_View_Activity" />
        <activity android:name=".SFA_Activity.SFA_Dashboard" />
        <activity android:name=".SFA_Activity.New_Outlet_Map_creations" />
        <activity android:name=".SFA_Activity.Dashboard_Order_Reports" />
        <activity android:name=".SFA_Activity.Offline_Sync_Activity" />
        <activity android:name=".SFA_Activity.Nearby_Outlets" />
        <activity android:name=".SFA_Activity.Print_Invoice_Activity" />
        <activity android:name=".SFA_Activity.Lead_Activity" />
        <activity android:name=".Activity_Hap.SFA_Activity" />
        <activity
            android:name=".Activity_Hap.AttachementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialogs" />
        <activity
            android:name=".Activity.TaApprovalDisplay"
            android:label="@string/title_activity_ta_approval_display"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_Hap.MapZoomIn"
            android:theme="@style/AppTheme.Dialogs" /> <!-- <activity -->
        <!-- android:name=".Activity_Hap.TravelAllowanceForm" -->
        <!-- android:theme="@style/AppTheme.Dialog" /> -->
        <activity
            android:name=".Activity_Hap.QRCodeScanner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.AllowancCapture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.LeaveReasonStatus"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Activity_Hap.ERT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.LeaveCancelRequestStatus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.DeviationEntryStatus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.HolidayEntryStatus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.DeviationEntry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.PrivacyPolicy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AllowanceActivityTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.EventCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.OrderCategoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity_Hap.AddNewRetailer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity_Hap.SecondaryOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity_Hap.OrderDashBoard"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".Activity.ApprovalViewActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".Activity.TAClaimActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".Activity.TAApprovalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AllowanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Block_Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.ImageCapture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Checkin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Extendedshift_approval"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Onduty_approval"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Leave_Approval"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Reports"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Dashboard_Two"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Weekly_Off"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Missed_Punch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Permission_Request"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Leave_Request"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Leave_Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Ocheck_in"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Approvals"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Status_Activity.Extended_Shift_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Status_Activity.WeekOff_Status_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Status_Activity.MissedPunch_Status_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Status_Activity.Leave_Status_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Status_Activity.Permission_Status_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Status_Activity.Onduty_Status_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Status_Activity.View_All_Status_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Tp_Mydayplan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Tp_Calander"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Mydayplan_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Tp_Month_Select"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Tp_Approval"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Tp_Approval_Reject"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Leave_Approval_Reject"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Permission_Approval"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Permission_Approval_Reject"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Onduty_Approval_Reject"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Webview_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Missed_punch_Approval"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Missed_Punch_Approval_Reject"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Extended_Approval_Reject"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.ViewCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.ViewReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.TimeOut"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.On_Duty_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Help_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.UpdateTaskActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Activity_Hap.Check_in"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.Login"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Hap.ProductImageView"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />

        <service
            android:name=".common.SANGPSTracker"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".common.TimerService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Activity_Hap.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ProcurementDashboardActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" /> <!-- Notification -->
        <service android:name=".PushNotification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>