<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hap.checkinproc">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name=".HAPApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity android:name=".Activity_Hap.OrderCategoryActivity"></activity>
        <activity android:name=".Activity_Hap.AddNewRetailer" />
        <activity android:name=".Activity_Hap.SecondaryOrderActivity" />
        <activity android:name=".Activity_Hap.OrderDashBoard" />
        <activity android:name=".Activity.ApprovalViewActivity" />
        <activity android:name=".Activity.ViewTASummary" />
        <activity android:name=".Activity.TAClaimActivity">

        </activity>
        <activity android:name=".Activity.TAApprovalActivity" />
        <activity android:name=".Activity.AllowanceActivity" />
        <activity android:name=".Activity_Hap.Block_Information" />
        <activity android:name=".Activity_Hap.ImageCapture" />
        <activity android:name=".Activity_Hap.Checkin" />
        <activity android:name=".Activity_Hap.Extendedshift_approval" />
        <activity android:name=".Activity_Hap.Onduty_approval" />
        <activity android:name=".Activity_Hap.Leave_Approval" />
        <activity
            android:name=".Activity.ViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity_Hap.Reports" />
        <activity android:name=".Activity_Hap.Dashboard_Two" />
        <activity android:name=".Activity_Hap.Weekly_Off" />
        <activity android:name=".Activity_Hap.Missed_Punch" />
        <activity android:name=".Activity_Hap.Permission_Request" />
        <activity android:name=".Activity_Hap.Leave_Request" />
        <activity android:name=".Activity_Hap.Travel_Allowance" />
        <activity android:name=".Activity_Hap.Leave_Dashboard" />
        <activity android:name=".Activity_Hap.Ocheck_in" />
        <activity android:name=".Activity_Hap.Approvals" />
        <activity android:name=".Status_Activity.Extended_Shift_Activity" />
        <activity android:name=".Status_Activity.WeekOff_Status_Activity" />
        <activity android:name=".Status_Activity.MissedPunch_Status_Activity" />
        <activity android:name=".Status_Activity.Leave_Status_Activity" />
        <activity android:name=".Status_Activity.Permission_Status_Activity" />
        <activity android:name=".Status_Activity.Onduty_Status_Activity" />
        <activity android:name=".Status_Activity.View_All_Status_Activity" />
        <activity android:name=".Activity_Hap.Tp_Mydayplan" />
        <activity android:name=".Activity_Hap.Tp_Calander" />
        <activity android:name=".Activity_Hap.Mydayplan_Activity" />
        <activity android:name=".Activity_Hap.Tp_Month_Select" />
        <activity android:name=".Activity_Hap.Tp_Approval" />
        <activity android:name=".Activity_Hap.Tp_Approval_Reject" />
        <activity android:name=".Activity_Hap.Leave_Approval_Reject" />
        <activity android:name=".Activity_Hap.Permission_Approval" />
        <activity android:name=".Activity_Hap.Permission_Approval_Reject" />
        <activity android:name=".Activity_Hap.Onduty_Approval_Reject" />
        <activity android:name=".Activity_Hap.Webview_Activity" />
        <activity android:name=".Activity_Hap.Missed_punch_Approval" />
        <activity android:name=".Activity_Hap.Missed_Punch_Approval_Reject" />
        <activity android:name=".Activity_Hap.Extended_Approval_Reject" />

        <activity android:name=".Activity_Hap.On_Duty_Activity"></activity>
        <activity android:name=".Activity_Hap.Help_Activity"></activity>

        <activity
            android:name=".Activity_Hap.Check_in"
            android:noHistory="true" />
        <activity android:name=".Activity_Hap.Dashboard" />
        <activity
            android:name=".Activity_Hap.Login"
            android:noHistory="true" />

        <service
            android:name=".common.SANGPSTracker"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".common.TimerService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".Activity_Hap.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DesignActivity" />
        <activity
            android:name=".Activity.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ProcurementDashboardActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>